<section class="homepage">
  <div class="heading">
    <h1><b>Discover<br> the World,<br> One Journey<br> at a Time</b></h1>
    <h5>"Embark on unforgettable adventures,<br> explore hidden gems,
      and make every moment count. <br>Let’s travel together!"</h5>
  </div>
  <div class="homecards">
       <app-card
       [statement]="'Find exciting activities near you and connect with fellow travelers instantly.No more solo adventures—make friends on the go!. Whether it’s a hike, a city tour, or a food crawl, you’re never alone. Explore the world with like-minded people, anytime, anywhere.'"
       [imagerurl]="'../../../assets/images/statementimg/1.jpg'"
       ></app-card>
       <app-card
       [statement]="'Discover the perfect place to stay and connect with fellow travelers effortlessly. No more searching endlessly—find the best hotels and accommodations that suit your needs! Whether its a cozy retreat, a luxurious stay, or a budget-friendly option, our website makes it easy to book your next getaway and meet like-minded travelers along the way.'"
       [imagerurl]="'../../../assets/images/statementimg/2.jpg'"
       ></app-card>
       <app-card
       [statement]="'Find your perfect travel soulmate and capture every beautiful moment together. Our website helps you discover not only the best places to stay but also connect with fellow explorers who share your passion for adventure. Create unforgettable memories with someone who truly gets you!'"
       [imagerurl]="'../../../assets/images/statementimg/3.jpg'"
       ></app-card>
  </div>
  <div class="r3">
    <div class="footer">
      <app-footer></app-footer>
    </div>

  </div>
</section>
