<section class="homepage">
  <div class="heading">
    <h1><b>Discover<br> the World,<br> One Journey<br> at a Time</b></h1>
    <h5>"Embark on unforgettable adventures,<br> explore hidden gems,
      and make every moment count. <br>Let’s travel together!"</h5>
  </div>
  <div class="homecards">
       <app-card
       [title]="'Total Places'"
       [value]=1000
       ></app-card>
       <app-card
       [title]="'Users'"
       [value]=1000
       ></app-card>
       <app-card
       [title]="'Total Places'"
       [value]=1000
       ></app-card>
  </div>
  <div class="r3">
    <h3>Search Places With Google Map</h3>

  </div>
</section>
